@import '../../styles/global.scss';

.mainSection {
    padding: $pad;
    padding-bottom: 5.5rem;
    color: $ff;

    .loginh2 {
        font-weight: $light;
        font-size: 2rem;
        margin: 0;
    }

    .loginh3 {
        margin: 0;
    }
}

.loginform {
    display: grid;
    width: 200px;
}

.loginlabel {
    margin: 4px 0;
}

.logininput {
    border: 2px solid $darkgreen;
    border-radius: 5px;
    padding: 8px;
    background-color: $verydarkgreen;
    font-size: 1rem;
    color: $green;
    outline: none;

    &:focus {
        border: 2px solid $green;
    }
}

.loginerrormsg {
    margin: 0;
    color: red;
}

.loginbtn {
    text-decoration: none;
    border: 2px solid $darkgreen;
    border-radius: 5px;
    background-color: $green;
    color: $darkgreen;
    padding: 6px;
    font-size: 15px;
    width: 90px;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;

    &:hover {
        background-color: $darkgreen;
        color: $ff;
        border: 2px solid $green;
    }
}

.ohlink {
    color: $green;
}