@import '../../styles/global.scss';

.cartlinegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    border: 1px solid $grey;
    width: 100%;
    gap: 8px;
}

.cartlineimg {
    width: 100%;
    max-width: 240px;
    max-height: 240px;
    object-fit: cover;
}

.cartlinepricediv {
    text-align: end;
    margin-right: 1rem;
}

.totalamount {
    text-align: end;
    margin-right: 1rem;
}

.deleteitembtn {
    background-color: $pink;
    padding: $pad 2 * $pad;
    border: 2px solid $darkgreen;
    border-radius: 5px;
    margin-left: 8px;
    color: $ff;
    font-size: 1rem;
    text-align: center;
    font-weight: $bold;
    cursor: pointer;

    &:hover {
        color: black;
        border: 2px solid $green;
    }
}

.linktocheckout {
    text-align: end;
    margin-right: 1rem;
    text-decoration: none;
    color: #000000;
    display: grid;
    justify-content: end;

    .h3link {
        background-color: $green;
        border: 1px solid $darkgreen;
        border-radius: 5px;
        padding: $pad;
        width: fit-content;

        &:hover {
            border: 1px solid $green;
            background-color: $darkgreen;
            color: $ff;
        }
    }
}

.ohlink {
    color: $green;
}

.borderdiv {
    border: 1px solid $green;
    padding: 2%;
}