@import '../../styles/global.scss';

.mainSection {
  padding: $pad;
  padding-bottom: 5.5rem;
  color: $ff;
}

.bclink {
  text-decoration: none;
  color: $green;
}

.colorgrey {
  color: $grey;
  margin: 0 0.2rem;
}

.bcmarginleft {
  margin-left: 0.2rem;
}
