$pad: 8px;

$bg: #131313;
$ff: #ffffff;
$pink: #d10061;
$darkblue1: #0a1d1c;
$red: #ff003d;
$darkblue2: #2c3737;
$grey: #afafaf;
$green: #00f9b6;
$darkgrey: #393939;

$darkgreen: #1F5E5B;
$verydarkgreen: #0A1D1C;