@import '../../styles/global.scss';

.sidenav {
    border: 1px solid $green;
    background-color: $verydarkgreen;
    color: $green;
    width: fit-content;
    height: fit-content;
    padding: $pad;
    margin-bottom: 1rem;

    @media screen and (max-width: 1080px) {
        width: 100%;
    }

    .menu {
        @media screen and (max-width: 1080px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 4px;
        }
    }

    .sidenavbtn {
        cursor: pointer;

        &:hover .submenu {
            visibility: visible;
            height: auto;
            opacity: 1;
        }
    }

    .submenu {
        padding-left: 1rem;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: height 0.5s, opacity 0.5s ease-in-out;
    }

    .sidenavsubmenubtn {
        text-decoration: none;
        background: none;
        color: $green;
        border: none;
        font-size: 0.8rem;
        display: block;
        cursor: pointer;

        &:hover {
            color: $ff;
        }
    }

}